*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
main{
    background-color: map-get($colores, color-principal) 
}
.imgHeader{
    height: 100px;
}
.navbar-brand{
    margin: 30px;
}
.navbar-nav{
    margin: 0 auto;
}
.nav-link{
    margin: 10px;

    &:hover{
        background-color: #95c632;
        border-radius: 10%;
        border: solid 1px;
}
}
.navbar-brand:hover{
    background-color: #95c632;
    border-radius: 10%;
    border: solid 1px;
}
footer{
    background-color: #95c632;
    width: 100%;
    height: 40px;
    padding: 5px;

    ul li{
        width: fit-content;
        margin: 100px;
        display: inline;
        
        a img{
            height: 20px;
        }
    }
}


footer{
    background-color: #95c632;
    width: 100%;
    height: 40px;
    padding: 5px;
}

footer ul li{
    width: fit-content;
    margin: 100px;
    display: inline;
}

footer ul li a img{
    height: 20px;
}

footer ul li img{
    height: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
main{
    background-color: #d2ed9f;
}
.transicion:hover{
    transform: scale(2);
}
.transicion{
    transition: all 3s;
}