.bannerPrincipal{
    width: 100%;
}
.parrafoFotoHome{
    border: solid 1px;
}
.valueProp{
    border: solid 1px;
    background-color: #aed365;
    justify-content: center;
}
.itemVP{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotoVP{
    width: 50%;
    height: 200px;
    object-fit: contain;
}
.textoVP{
    width: 50%;
}
.newsletter{
    height: 100%;
    border: solid 1px;
    padding: 5px;
}

.textoNS{
    font-size: 50px;
    align-content: center;
    margin-top: 30px;
}

