.imagenNosotros{
    height: 225px;
    margin: 10px;
}

section ul li{
    display: inline;
}
.fotoEquipo{
    margin: 10px;
    width: 1200px;
}
.carousel-item{
    height: 400px;
    width: 100%;
}
.carousel-item img{
    height: 400px;
    object-fit: contain;
}
