.boton{
    background-color: grey;
    width:fit-content;
    border: solid 2px black;
    border-radius: 6px;
    padding: 1px 3px;
    margin: 10px;
    object-fit: contain;
    
    a{
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
} 

.fotosProductos{
    height: 200px;
    width: 200px;
    margin: 10px;
}




