* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

main {
  background-color: white;
}

.imgHeader {
  height: 100px;
}

.navbar-brand {
  margin: 30px;
}

header {
  background-color: #95c632;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-link {
  margin: 10px;
}
.nav-link:hover {
  background-color: white;
  border-radius: 10%;
  border: solid 1px;
}

.navbar-brand:hover {
  background-color: white;
  border-radius: 10%;
  border: solid 1px;
}

footer {
  background-color: #95c632;
  width: 100%;
  height: 40px;
  padding: 5px;
}
footer ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 100px;
  display: inline;
}
footer ul li a img {
  height: 20px;
}

footer {
  background-color: #95c632;
  width: 100%;
  height: 40px;
  padding: 5px;
}

footer ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 100px;
  display: inline;
}

footer ul li a img {
  height: 20px;
}

footer ul li img {
  height: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

main {
  background-color: white;
}

.transicion:hover {
  transform: scale(2);
}

.transicion {
  transition: all 3s;
}

.bannerPrincipal {
  width: 100%;
}

.valueProp {
  margin-top: 30px;
  background-color: white;
  justify-content: center;
}

.itemVP {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parrafoFotoHome {
  margin-top: 50px;
}

.fotoVP {
  width: 50%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.textoVP {
  width: 50%;
}

.newsletter {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 100%;
  padding: 5px;
}

.form {
  background-color: #95c632;
}

.textoNS {
  font-size: 50px;
  align-content: center;
  margin-top: 30px;
}

.fotosProductos {
  height: 200px;
  width: 200px;
  margin: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

.vip {
  display: flex;
  align-items: center;
  margin: 30px;
}

.botonVip {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.botonVip :hover {
  background-color: #95c632;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border: solid 1px black;
  border-radius: 5px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 30px 10px;
}

.itemCertificaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.imgCertificaciones {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.item1 {
  grid-column: 2/4;
}

.item2 {
  grid-column: 2/4;
}

.item3 {
  grid-column: 2/4;
}

.item4 {
  grid-column: 2/4;
}

.item5 {
  grid-column: 2/4;
}

.imagenNosotros {
  height: 225px;
  margin: 10px;
}

section ul li {
  display: inline;
}

.fotoEquipo {
  margin: 10px;
  width: 1200px;
}

.carousel-item {
  height: 400px;
  width: 100%;
}

.carousel-item img {
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.mensajeContacto {
  margin-top: 30px;
  font-size: 50px;
}

.maps {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .fotoHome {
    display: none;
  }
  footer ul li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px;
  }
}
@media screen and (max-width: 576px) {
  footer ul li {
    display: inline;
    margin: 40px;
  }
  .mapa {
    width: 200px;
    height: 150px;
  }
}/*# sourceMappingURL=main.css.map */